html, body {
    background-color: rgb(245,245,245);
}
.l-box {
	padding: 1em;
}
h1,h2{
    text-align: center;
}
body {
    font-family: 'Poppins';
    text-align: justify;
}
sankeyClass {
    margin: auto;
    width: 1400;
}